:root {
    --font-header: 'Pinyon Script', cursive;
    --font-body: 'Nunito', sans-serif;
  
    --color-bg: #fdf9f4;
    --color-text: #222;
    --color-accent: #b95e7c;
    --color-highlight: #ffd5d9;
  }
  
  body {
    font-family: var(--font-body);
    background-color: var(--color-bg);
    color: var(--color-text);
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4, h5 {
    font-family: var(--font-header);
    margin-bottom: 0.5rem;
    color: var(--color-accent);
  }
  